.region__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    color: #151515;
    margin-top: 20px;
}

.region__name-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}

.regions__name {
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto';
    width: 271px;
    height: 95px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(3, 0, 80, 0.171);
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    border-left: 5px solid blue;
}